@import "../../../scss/base";

.third-section {
    display: flex;
    background-color: $color-primary;
    justify-content: space-between;

    &-1 {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $color-white;

        & h3 {
            font-size: 4.8rem;
            font-weight: 700;
        }

        & p {
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 3.5rem;
            margin: 3.5rem 0;
        }

        & .learn-more-btn {
            align-self: flex-start;
            padding: 1.4rem 3.3rem;
            font-size: 1.6rem;
            color: $color-primary;
            background-color: $color-white;
            border: 1px solid $color-primary;
            border-radius: 8px;
        }
    }

    &-2 {
        width: 50%;
        padding: 4rem 0;
    }
}