@import "../../../scss/mixin";

.modal {
    position: fixed;
    width: 80%;
    margin: 0 auto;
    height: 100vh;
    background-color: #4040404D;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease-in;
    cursor: pointer;

    @include respond(bigLaptop) {
        width: 90%;
    }

    @include respond(medLaptop) {
        width: 100%;
    }


}