@import "../../../scss/base";
@import "../../../scss/mixin";

.first-section {
    display: flex;
    // justify-content: space-between;

    @include respond(tablet) {
        flex-direction: column;
        align-items: center;
    }

    &-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;

        @include respond(miniLaptop) {
            width: 55%;
        }

        @include respond(bigTablet) {
            width: 60%;
        }

        @include respond(tablet) {
            width: 100%;
            text-align: center;
            align-items: center;
        }

        & h1 {
            font-size: 5rem;
            font-weight: 700;
            color: $color-text-black;
            line-height: 7rem;

            & span {
                color: $color-primary;
            }

            @include respond(phone) {
                & br {
                    display: none;
                }
            }
        }

        & p {
            font-size: 2.4rem;
            line-height: 3.5rem;
            color: $color-text-black;
            margin: 4.8rem 0;
        }

        & .search-container {
            width: 90%;
            display: flex;
            border: 1px solid #A3A3A3;
            border-radius: 8px;
            overflow: hidden;

            @include respond(phone) {
                width: 100%;

            }

            & input {
                flex: 1;
                border: none;
                outline: none;
                padding: 0 2rem;
                font-weight: 400;

                @include respond(phone) {
                    width: 70%;
                }
            }

            & .search-btn {
                padding: 1.7rem 8rem;
                background-color: $color-primary;
                border: none;
                font-size: 1.6rem;
                font-weight: 400;
                color: $color-white;

                @include respond(phone) {
                    width: 30%;
                    padding: 1.7rem 3rem;
                }
            }
        }
    }

    &-2 {
        display: flex;
        width: 40%;
        margin-left: auto;

        @include respond(bigTablet) {
            width: 35%;
        }



        @include respond(tablet) {
            width: 60%;
            margin-left: 0;
            margin-top: 5rem;
        }

        @include respond(phone) {
            width: 70%;
        }

        & .grp-img-1 {
            margin: 10rem .5rem 0 0;

            @include respond(phone) {
                margin: 5rem .5rem 0 0;
            }
        }

        & .grp-img-1,
        .grp-img-2 {
            width: 50%;
        }

        & .img-1 {
            margin-bottom: .5rem;
        }

        & .img-1,
        .img-2 {
            width: 100%;
        }

        & img {
            width: 100%;
        }
    }
}