@import "../../scss/base";
@import "../../scss/mixin";

header {
    display: flex;
    width: 100%;
    height: 12rem;
    padding: 0 8rem;
    align-items: center;

    @include respond(bigTablet) {
        padding: 0 4rem;
    }

    @include respond(phone) {
        padding: 0 2rem;
    }

    & .menu-icon {
        height: 3rem;
        width: 3rem;
        color: $color-primary;
        display: none;
        margin-right: 1rem;
        cursor: pointer;

        @include respond(tablet) {
            display: block;
        }
    }

    & .logo {
        & .logo-small {
            display: none;

            @include respond(tablet) {
                display: block;
            }
        }

        & .logo-big {
            @include respond(tablet) {
                display: none;
            }
        }

    }

    & nav {
        margin: 0 auto;

        @include respond(tablet) {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            z-index: 8;
            background-color: #4040404D;
            transition: all .2s ease-in;
        }

        & ul {
            display: flex;
            list-style-type: none;

            @include respond(tablet) {
                width: 40%;
                height: 100%;
                flex-direction: column;
                background-color: $color-white;
                padding: 3rem;
            }

            @include respond(phone) {
                width: 60%;
            }


            & li {
                margin: 0 1.5rem;

                @include respond(tablet) {
                    margin: 0 0 1rem;
                }

                & a {
                    display: block;
                    text-decoration: none;
                    color: currentColor;
                    font-size: 2rem;
                    font-weight: 400;
                    transition: all .2s ease-in;

                    &:hover {
                        color: $color-primary;
                    }
                }
            }
        }
    }

    & .connect-btn {
        padding: 1.5rem 3rem;
        color: $color-white;
        background-color: $color-primary;
        border: 1px solid $color-primary;
        font-size: 1.6rem;
        border-radius: 1rem;

        @include respond(tablet) {
            margin-left: auto;
        }

        @include respond(phone) {
            padding: 1rem 2rem;
        }

        &:hover {
            color: $color-primary;
            background-color: $color-white;
        }
    }
}


.active-link {
    color: $color-primary;
}

.inactive-link {
    color: $color-text-black;
}

.show-modal {
    opacity: 1;
    visibility: visible;
}

.hide-modal {
    opacity: 0;
    visibility: hidden;
}

.invisible-menu {
    @include respond(tablet) {
        transform: translateX(-100%);
    }
}

.visible-menu {
    @include respond(tablet) {
        transform: translateX(0);
    }
}