@import "../../scss/base";

.container {
    display: flex;
    align-items: center;

    & ul {
        display: flex;
        list-style-type: none;
        flex: 1;
        justify-content: space-between;
        align-items: center;
        margin-right: 3rem;


        & li {
            font-size: 2rem;
            font-weight: 400;
            color: $color-text-black;
        }
    }

    & .filter-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.6rem;
        font-weight: 400;
        color: #333333;
        border: 1px solid #B4B4B4;
        border-radius: 8px;
        padding: 1.4rem;
        width: 15rem;

        &-img {
            width: 2rem;
            height: 2rem;
        }
    }
}