@import "../../scss/base";
@import "../../scss/mixin";

footer {
    background-color: $color-black;
    color: $color-white;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 4.5rem 8rem 2.5rem;

    @include respond(bigTablet) {
        padding: 4.5rem 4rem 2.5rem;
    }

    @include respond(phone) {
        flex-direction: column;
        padding: 4.5rem 2rem 2.5rem;
    }

    & .first-container {
        width: 30%;
        display: flex;
        flex-direction: column;

        @include respond(phone) {
            width: 100%;
            align-items: center;
        }

        & .media-links-icons {
            margin-top: auto;

            @include respond(phone) {
                margin-top: 3rem;
            }

            & a {
                text-decoration: none;
                color: currentColor;

                &:hover {
                    color: $color-primary;
                }

                & .icon {
                    height: 2.3rem;
                    width: 2.3rem;
                    margin-right: 2rem;
                }
            }
        }
    }

    & .ft-links-container {
        width: 70%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        @include respond(phone) {
            width: 100%;
            margin-top: 5rem;
        }

        & ul {
            list-style-type: none;

            & li {
                margin: 1rem 0;
                font-size: 1.6rem;

                &:first-child {
                    margin-bottom: 2rem;
                    font-size: 1.8rem;
                    font-weight: 700;
                }

                &:last-child {
                    margin: 1rem 0 0;
                }

                & a {
                    display: block;
                    color: currentColor;
                    text-decoration: none;
                    transition: all .2s ease-in;

                    &:hover {
                        color: $color-primary;
                    }
                }
            }
        }
    }


    & p {
        font-size: 1.6rem;
        margin-top: 3rem;

        @include respond(phone) {
            text-align: center;
            margin-top: 5rem;
        }
    }
}