@import "./scss/base";
@import "./scss/mixin";

// general styling 

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;

  font-size: 87.5%; //1rem = 14px

  @include respond(bigLaptop) {
    font-size: 81.25%; //1rem = 13px
  }

  @include respond(medLaptop) {
    font-size: 68.75%; //1rem = 11px
  }

  @include respond(laptop) {
    font-size: 56.25%; //1rem = 9px  
  }

  @include respond(miniLaptop) {
    font-size: 50%; //1rem = 8px
  }
}

body {
  font-family: $font-primary;
}

img {
  max-width: 100%;
}

input {
  font-size: 16px !important;
}

.App {
  position: relative;
  width: 80%;
  margin: 0 auto;

  @include respond(bigLaptop) {
    width: 90%;
  }

  @include respond(medLaptop) {
    width: 100%;
  }

}